!!!
%html
  %head
    %meta{:content => "text/html; charset = UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = "Hi #{@params[:shop_owner]},"
    %p
      Welcome to Variant Image Automator for Shopify!
    %p
      We built this app to show product variants in a cleaner way and help stores improve their conversion. Now you are just one stem away from setting it up. You could follow the tutorial video below or the FAQ section within the APP to get started.
    %p
      Totorial Video Link:
    %p
      If there are any feedback or questions, please simply reply this email. We look forward to hearing from you!
    %p
      Regards
    %p
      Shashank
    %p
      www.starapps.studio