!!!
%html
  %head
    %meta{:content => "text/html; charset = UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = "Hi #{@params['shop_owner']},"
    %p
      Uninstall App
    %p
      Regards
    %p
      Shashank
    %p
      www.starapps.studio